*{
    margin: 0;
    padding: 0;
}

body{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}
.block-header{
    color:#ffffff;
    height: 150px;
    display: flex;
}

.logoAdmin{
	position: absolute;
	height: 110px;
	top:5px;
	left: 20px;
}

.block-header__add img{
    position: absolute;
	color: #ffffff;
	border-radius: 50%;
    position: fixed;
    right: 5px;
    bottom: 5px;
	padding:10px;
	background: #0059a2;
    height: 50px;
    width: 50px;
    margin: 3px 3px 3px 0;
    text-align: center;
}

.block-header__edit_png{
    position: absolute;
    top:80px;
    right:20px;
	border-radius: 50%;
	padding:5px;
	background: #0059a2;
    height: 50px;
    width: 50px;
    line-height: 20px;
}

.content{
    height: 24px;
}

.content-block{
    /* background-color: #1875d1; */
    right: 0;
    width: 100%-24px;
}
.content-block-day,
.wrap-days-items{
    margin-left: 15px;
}

.content-block-day__tool,
.days-items__tool{
    background-color: #181818;
    height: 24px ;
    width: 24px;
}

.block-header__text{
    position: absolute;
    left: 50%;
    top:10px;
	font-size: 20px;
    transform: translate(-50%,0);
}
.block-header__text_img{
    position: absolute;
	background-size: 100%;
	width: 100%;
	height: 150px;
}




.title{
    width: 100%;
}

.title__name-bd{
    font-size: 24px;
}

 /* pop up */
.pop-up__blur{
    background: rgba(18, 18, 18, 0.7);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.pop-up-content{
    position: absolute;
    height: 150px;
    /* width: 250px; */
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #28a4ff;
}

.wrap-selector{
    display: flex;
}

.input-id__item{
    border: 1px solid #000;
}

.item
{
    background-color: #28a4ff;
    width: 23%;
    margin: 0 5px;
}
.item__text
{
    text-align: center;
    padding: 2px;
    border-bottom: 3px solid rgb(154,205,50);

}
.item__add
{
    border: 1px solid #000;
    text-align: center;
}

.day-items{
    display: flex;
    width: 100%;
	justify-content: space-around;
}

.items{
    padding-left: 5px;
	margin-bottom: 5px;
    padding-right: 5px;
	border-bottom: solid 1px #8aacc8
}

.lessonNum{
    padding-left: 5px;
	padding-bottom: 10px;
	flex: 1;
	background: #bbdefb;
    padding-right: 5px;
	border: solid 1px #8aacc8

}
.subGroupNum{
    padding-left: 5px;
	flex: 1;
    padding-right: 5px;
    border-left: solid 1px #000
}
.lesson{
    padding-left: 5px;
    padding-right: 5px;
	flex: 9;
    border-left: solid 1px #000
}

.teacherName{
    padding-left: 5px;
    padding-right: 5px;
	flex: 3;
    border-left: solid 1px #000
}

.roomNum{
    padding-left: 5px;
	flex: 1;
    padding-right: 5px;
    border-left: solid 1px #000
}

.removeLesson{
	padding-right:20px;
}

.editLesson{
    padding-right:20px;
}

.flex
{
    display: flex;
    justify-content: center;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'), local('Montserrat-Regular'), url('montserrat.woff2') format('woff2'), url('montserrat.woff') format('woff'), url('montserrat.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
